.movepage {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  gap: 1px;
  position: relative;
}
.btn_item {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  box-sizing: border-box;
}
.btn_active {
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: antiquewhite;
}
.cs_maker {
  position: absolute;
  right: 2rem;
}
.btn_maker {
  font-size: 2.5rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  width: 15rem;
  height: 5rem;
}
