.gnb {
  height: 5rem;
  background-color: rgb(205, 169, 85);
}
.gnb_list {
  width: 120rem;
  height: 5rem;
  margin: auto;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.gnb_list a {
  color: white;
}
