.gnb {
  height: 5rem;
  background-color: antiquewhite;
}
.gnb_list {
  width: 120rem;
  height: 5rem;
  margin: auto;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
