* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
html,
body {
  font-size: 10px;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
