.news {
  width: 120rem;
  min-height: 75rem;
  margin: auto;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.news_make_btn {
  position: absolute;
  right: 0;
  top: 0;
}
