.counselingpage {
  width: 120rem;
  min-height: 75rem;
  margin: auto;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.csitem {
  box-shadow: 0 0 3px 1px lightgray;
  border-radius: 0.8rem;
  width: 28rem;
  height: 20rem;
  padding: 1.5rem;
}
.csitem:hover {
  border-color: lightgray;
  box-shadow: 0 0.5em 0.5em -0.4em lightgray;
  transform: translateY(-0.5rem);
}
.item_date {
  font-size: 1.4rem;
}
.item_title {
  height: 13rem;
  font-family: "SUITE-Regular";
}
.item_likes {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
}
.like_span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: gray;
}
.like_icon {
  margin-top: 2px;
}
.cs_maker {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}
.btn_maker {
  font-size: 2.5rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  width: 15rem;
  height: 5rem;
}
.pagemove {
  position: relative;
}
.left {
  width: 90rem;
  display: inline-block;
  font-size: 2rem;
}

.counseling_makepage {
  width: 120rem;
  min-height: 75rem;
  margin: auto;
  font-size: 2rem;
  display: flex;
}
.counseling_makeleft {
  width: 90rem;
}
.counseling_makeright {
  width: 30rem;
}
.counseling_right_make {
  margin-top: 1rem;
}
.goback_btn {
  text-align: left;
  font-size: 2rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  width: 25rem;
  height: 12rem;
  padding: 2rem;
}
