.img {
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
  width: 118rem;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}
.div {
  width: 118rem;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}
.slick-dots li button:focus:before {
  opacity: 0.25;
}
.slick-dots li.slick-active button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-prev {
  left: 10px !important;
  z-index: 1000;
}

.slick-next {
  right: 10px !important;
  z-index: 1000;
  background-color: black;
}
