.movepage {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  gap: 1px;
}
.btn_item {
  width: 3rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 0.6rem;
  box-sizing: border-box;
}
.btn_active {
  width: 3rem;
  height: 5rem;
  font-size: 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.btn_item_none {
  display: none;
}
