.chefpage {
  font-size: 2rem;
  font-family: "SUITE-Regular";
  width: 140rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 4rem;
}
.chef_profile {
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.profile_img {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}
.profile_text {
  width: 89rem;
  word-wrap: break-word;
  padding: 1rem;
  min-height: 30rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgb(226, 223, 217);
}
.view_list {
  position: relative;
  padding-left: 10rem;
}
.arrowbtn {
  font-size: 5rem;
  color: burlywood;
}
.arrow_right {
  position: absolute;
  right: 3rem;
  top: 20.844rem;
}
.arrow_left {
  position: absolute;
  left: 3rem;
  top: 20.844rem;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "SUITE-Regular";
  padding-left: 1rem;
}
