.main {
  width: 120rem;
  margin: auto;
  font-size: 2rem;
  min-height: 190rem;
}
.main_item {
  width: 118rem;
  padding-left: 2rem;
}
.main_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex_row {
  display: flex;
  flex-direction: column;
  height: 30rem;
  gap: calc(16rem / 3);
  padding: 2rem;
}

.best_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
