.main {
  width: 120rem;
  margin: auto;
  font-size: 2rem;
  min-height: 120rem;
}

.main_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex_row {
  display: flex;
  height: 30rem;
  gap: calc(16rem / 3);
  padding: 2rem;
}

.best_container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.main_ad {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.main_ad_item {
  height: 20rem;
  width: 30rem;
  background-color: aliceblue;
  text-align: center;
  line-height: 20rem;
}
