.recipe_container {
  width: 120rem;
  min-height: 75rem;
  margin: auto;
  font-size: 2rem;
  display: flex;
}
.recipe_left {
  width: 90rem;
}
.recipe_right {
  width: 30rem;
}
.recipe_right_make {
  margin-top: 1rem;
}

.goback_btn {
  text-align: left;
  font-size: 2rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  width: 25rem;
  height: 12rem;
  padding: 2rem;
}
