.cs_itemdetail {
  width: 65rem;
  min-height: 75rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: "SUITE-Regular";
  padding-top: 2rem;
}
.cs_itemdetail img {
  width: 65rem;
}
.cs_itemdetail h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.detail_name {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  position: relative;
}
.detail_content {
  padding-top: 1rem;
  min-height: 30rem;
  border-bottom: 1px solid black;
  padding-bottom: 10rem;
}

.comment_input_text {
  height: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 8px rgb(0 0 0/10%);
  padding: 1rem;
  font-family: "SUITE-Regular";
  max-width: 65rem;
  margin-top: 1rem;
  font-size: 2rem;
}
.input_commentbtn {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-family: "SUITE-Regular";
  border: 1px solid lightgray;
  border-radius: 0.6rem;
}
.input_comment {
  padding-top: 1rem;
  margin: auto;
  margin-bottom: 3rem;
}
