.mypage {
  font-size: 2rem;
  font-family: "SUITE-Regular";
  width: 120rem;
  margin: auto;
}
.mypage_head {
  display: flex;
}
.head_left {
  width: 30rem;
  padding-left: 1rem;
}
.head_right {
  padding-left: 1rem;
  width: 89rem;
}
.mypage_container {
  display: flex;
  flex-direction: row;
  width: 120rem;
  min-height: 90rem;
  margin: auto;
}
.snb_column {
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 1rem;
  gap: 1rem;
}
.content {
  width: 90rem;
  padding-top: 3rem;
}
.mypage h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.snb_subhead {
  font-size: 2.5rem;
  padding-top: 2rem;
}
.snb_menu {
  padding-left: 3rem;
}
.snb_menu li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}
.li_btn {
  font-size: 2rem;
  font-family: "SUITE-Regular";
}
.head_btn {
  font-size: 3rem;
  font-weight: 700;
  font-family: "SUITE-Regular";
}
.mycommentpage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.head_name {
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.5rem;
}
.img_preview {
  width: 30rem;
  height: 30rem;
}
.profile_img {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}
.profile {
  padding-left: 1rem;
}
.profile input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.upload_btn {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(240, 238, 232);
  color: black;
  font-family: "SUITE-Regular";
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
  }
}
.introduction {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 30rem;
  width: 100%;
  background-color: rgb(242, 241, 238);
  box-shadow: 1rem 1rem 1rem rgb(226, 223, 217);
}
.introduction_text_edit {
  background-color: rgb(242, 241, 238);
  border: none;
  outline: none;
  width: 100%;
  min-height: 30rem;
  font-size: 2rem;
  font-family: "SUITE-Regular";
}
