.searchpage {
  width: 140rem;
  margin: auto;
  font-size: 2rem;
  min-height: 120rem;
  font-family: "SUITE-Regular";
}
.search_result {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.result_category {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  position: relative;
}

.keyword {
  padding-left: 10rem;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.title {
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}
