.header {
  width: 120rem;
  height: 10rem;
  margin: auto;
  font-size: 2rem;
  position: relative;
}
.header_main {
  position: absolute;
  left: 10rem;
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
}
.header_main_logo {
  width: 28rem;
}

.search_text {
  width: 40rem;
  height: 5rem;
  padding: 1rem;
  border: 1px solid lightgray;
}
.login_icon {
  width: 5rem;
  height: 5rem;
  color: white;
  background-color: rgb(224, 187, 101);
  border-radius: 50%;
  :hover {
    width: 5rem;
    height: 5rem;
    color: white;
    background-color: rgb(183, 147, 61);
    border-radius: 50%;
  }
}

.header_searchbox {
  position: relative;
}
.search_btn {
  position: absolute;
  height: 4rem;
  background-color: antiquewhite;
  width: 5rem;
  border: none;
  top: 0.5rem;
  right: 0.5rem;
}
.search_btn:hover {
  border-color: antiquewhite;
  box-shadow: none;
  transform: none;
}
