.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.list_item {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  align-items: center;
  box-shadow: 0 0 3px 1px lightgray;
  border-radius: 0.8rem;
  width: 28rem;
}
.list_item:hover {
  border-color: lightgray;
  box-shadow: 0 0.5em 0.5em -0.4em #d3d3d3;
  transform: translateY(-0.5rem);
}

.list_img {
  width: 28rem;
  height: 30rem;
  border-radius: 0.8rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}
.list_title {
  font-size: 1.8rem;
  font-family: "SUITE-Regular";
  padding-top: 2rem;
  padding-bottom: 2rem;
}
